/* Breadcrumb
############################################################################ */

ul.breadcrumb-list{
  margin-top: var(--half);

  li{
    display: inline-block;

    & + li::before{
      color: var(--lighten-strong);
      content: "//";
    }

    .back-button::after{
      display: inline-block;
      padding-right: var(--quat);
      color: var(--color-highlight);
      content: "â†";

    }
  }
}
