/* Main Header
###########################################################################  */

.main-header {
  position: sticky;
  z-index: var(--z-level-overlay);
  top: 0;
  max-width: var(--max-width-page);
  padding-top: var(--fluid-space-xs);
  padding-bottom: var(--fluid-space-xs);
  background-color: var(--lightest);

  .menu {
    display: flex;
    padding: 0 var(--fluid-padding-m);
  }

  .main-navigation {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    margin: 0;
    background-color: var(--lightest);
    gap: var(--fluid-space-s);
    list-style: none;

    * {
      color: var(--darkest);
    }
  }

  @media screen and (width <=960px) {
    & {
      position: relative;
    }

    .main-navigation {
      flex-direction: column;
      gap: 0;

      li{
        text-align: center;
      }
    }

    .menu {
      flex-direction: column;
    }
  }

}
