/* Main Header
###########################################################################  */

.main-header {
  position: sticky;
  z-index: var(--z-level-overlay);
  top: 0;
  max-width: var(--max-width-page);
  padding-top: var(--fluid-space-xs);
  background-color: var(--lightest);

  .main-navigation {
    display: flex;
    flex-direction: row;
    padding: 0 var(--fluid-space-xl);
    margin: 0;
    background-color: var(--lightest);
    gap: var(--fluid-space-s);
    list-style: none;

    * {
      color: var(--darkest);

      a:hover {
        color: var(--lightest)
      }
    }
  }

  @media screen and (width <=400px) {
    &{
      position: relative;
    }

    .main-navigation {
      flex-direction: column;
      gap: 0;
    }

  }
}
