/* Social
############################################################################ */

ul.social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--m);

  li{
    svg{
      display: inline-block;
      max-width: var(--xl);
      max-height: var(--xl);
      margin-right: var(--quat);
      vertical-align: middle;
    }

    .text{
      font-size: var(--s);
    }

    a{
      display: block;
      border-radius: var(--border-radius-m);
      text-decoration: none;
      transition: all var(--tr-fast);

      &:hover{
        color: var(--lightest);
        scale: 1.5;
      }
    }
  }

    @media screen and (width <=960px) {
      padding-top: var(--fluid-space-xs);
      padding-bottom: var(--fluid-space-s);
    }
}
