/* Block type text
############################################################################ */

.block-type-text{
  max-width: var(--max-width-content);
  padding-bottom: var(--fluid-space-m);

  strong{
    color: var(--color-headline);
    font-weight: 800
  }
}

.block-type-hero{
  max-width: var(--max-width-content);
  padding-bottom: calc(var(--fluid-space-xl) *2);
  font-size: var(--xl);
  line-height: var(--lh-normal);
}

.block-type-image{
  width: 66.6%;
  margin-bottom: calc(var(--fluid-space-xl) *2);
}


[data-template="blocks"] {
  main {
    .subtitle{
      margin-bottom: var(--fluid-space-xl);
      color: var(--color-highlight);
      font-size: var(--xl);
    }

    &:has(.subtitle){
      .title{
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    @container (min-inline-size: 60ch) {
      .block-type-heading{
        padding-bottom: var(--fluid-space-s);
      }

      .block-type-text *{
        padding-left: 0;
      }

      .block-type-text + .block-type-text{
        margin-top: calc(var(--fluid-space-m) * -1);
      }
    }

    figure{
      figcaption{
        padding: var(--quat) 0 var(--fluid-space-m);
        font-size: var(--s);
      }
    }

  }

}