/* stylelint-disable no-descending-specificity */

/* Hero
############################################################################ */

.home {
  .sticky-video-wrap {
    height: 100svh;
  }

  .hero {
    &-text {
      padding: calc(var(--fluid-space-xxl) * 2) var(--fluid-space-s) calc(var(--fluid-space-xxl) * 2);
      background: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 70%));
      color: var(--darkest);
      font-size: var(--l);

      * {
        line-height: var(--lh-normal);
      }
    }
  }

  .block-type-image {
    width: 100%;
    margin-bottom: 0;
    box-shadow: var(--shadow-l);
  }

  .layout-grid {
    margin-bottom: 0;
  }

  section.layout-grid+section.layout-grid {
    margin-top: var(--fluid-space-l);
  }

  main {
    &>[id] {
      display: flex;
      min-height: 100dvh;
      flex-direction: column;
      justify-content: center;
    }
  }


  h2 {
    padding-top: 0;
    font-size: var(--xxl);
  }

  .block {
    margin-bottom: var(--fluid-space-l);
  }

  p > a{
    &::after{
      margin-left: 0;
      content: "";
    }
  }


}

/* Preview Section
###########################################################################  */

.preview-section {
  padding: var(--fluid-padding-m);
  padding-bottom: calc(var(--fluid-padding-m) * 2);


  h2 {
    margin-bottom: var(--fluid-space-m);
  }

  &>* {
    max-width: var(--max-width-content-l);
  }


  div>p {
    max-width: var(--max-width-content-s);
    margin-bottom: var(--fluid-padding-m);
  }

  .preview-item {
    margin-bottom: var(--s);
    transition: transform var(--tr-fast) ease-in-out;

    p {
      display: inline;
    }

    em {
      font-style: normal;
      font-weight: var(--fw-bold);
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

/* Blocks Section
###########################################################################  */

.blocks-section {
  min-height: 100dvh;
  padding: var(--fluid-padding-m);
  padding-bottom: calc(var(--fluid-padding-m) * 2);

  .blocks-section-wrap {
    > section + section {
      padding-top: var(--fluid-space-xxl);
    }

    &>* {
      max-width: var(--max-width-content-l);
      margin: 0 auto;
    }
  }
}
